{% extends "layout.html" %}

{% block heading %} 
    <h1 align="center">Bell Careers</h1>
    <img id="banner" src="{{url_for('static', filename='/images/career3.avif')}}" alt="" >
{% endblock %}

{% block body %} 
    <h2 align="center">About Bell</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi omnis iure quasi, eum mollitia voluptatibus harum unde laudantium? Suscipit qui maxime at iure maiores eveniet molestias repellendus nihil voluptatum ab!</p>
{% endblock %}

{% block open_position %} 
<h2 align="center">Open Positions</h2>

<p>TODO - show the jobs here</p>
<div style="text-align: center;">
    <button>Contact Us</button>
    <br>
    <br>
    <p>Copyright 2023, Bell</p>
</div>

{% endblock %}