{% extends "layout.html" %}

{% block body %}
<h2 align="center">{{company_name}} Careers</h2>
<br>
<h3>Title:</h3>
<p>{{job.title}}</p>

<h3>Location:</h3>
<p>{{job.location}}</p>

<h3>Salary:</h3>
<p>{{job.currency}}{{job.salary}}</p>

<h3>Responsibilies:</h3>
<ul>
    {% for line in job.responsibilities.split("\n") %}
    <li>{{line}}</li>
    {% endfor %}
</ul>
<!-- <p>{{job.responsibilities}}</p> -->

<h3>Requirements:</h3>
<ol>
    {% for line in job.requirements.split("\n") %}
    <li>{{line}}</li>
    {% endfor %}
</ol>

{% endblock %}